.settings_page_rrze-green-office {
    label {
        display: inline-block;
        min-width: 100px;
        margin-right: 1em;
    }
    .form-table {
        table {
            &:not(:last-child) {
                margin-bottom: 2em;
            }
            th {
                padding: 15px 10px;
                vertical-align: middle;
            }
        }
    }
}